{% extends 'base.html' %} {%block title%} Bookmark Page {%endblock %} {% block
content %}
<div class="row" style="margin: 20px">
  <h2 style="text-align: center">Word List</h2>
  <table class="table table-hover table-dark" style="text-align: center">
    <thead>
      <tr>
        <!-- Your Columns HERE -->
        <th scope="col" style="width: 100px"></th>
        <th scope="col" style="width: 100px">No.</th>
        <th scope="col" style="width: 800px">Bahnaric</th>
        <th scope="col">Binh Dinh</th>
        <th scope="col">Kon Tum</th>
        <th scope="col">Gia Lai</th>
      </tr>
    </thead>
    <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for word in words.items %}
      <tr>
        <!--Bookmark Button-->
        <td>
          <button
            class="btn btn-outline-secondary btn-block bookmarkButton"
            id="bookmark_{{word.id}}"
            word_id="{{word.id}}"
          >
            Bookmark
          </button>
        </td>
        <!--Word ID-->
        <td>{{word.id}}</td>
        <!--Word name-->
        <td>{{word.name}}</td>
        <!--Word Audio Binh Dinh-->
        <td>
          {% if word.BinhDinh == "Y"%}
          <audio id="BD{{word.id}}">
            <source
              src="{{url_for('download', region_tag='BD', word=word.name)}}"
              type="audio/mpeg"
            />
          </audio>
          <button
            class="audioButton btn btn-primary"
            audio_id="BD{{word.id}}"
            type="button"
          >
            <i class="bi bi-megaphone"></i>
          </button>
          {%else%}
          <i class="bi bi-x-square-fill"></i>
          {%endif%}
        </td>
        <!--Word Audio KonTum-->
        <td>
          {% if word.KonTum == "Y"%}
          <audio id="KT{{word.id}}">
            <source
              src="{{url_for('download', region_tag='KT', word=word.name)}}"
              type="audio/mpeg"
            />
          </audio>
          <button
            class="audioButton btn btn-primary"
            audio_id="KT{{word.id}}"
            type="button"
          >
            <i class="bi bi-megaphone"></i>
          </button>
          {%else%}
          <i class="bi bi-x-square-fill"></i>
          {%endif%}
        </td>
        <!--Word Audio Gia Lai-->
        <td>
          {% if word.GiaLai == "Y"%}
          <audio region="GL" id="GL{{word.id}}">
            <source
              src="{{url_for('download', region_tag='GL', word=word.name)}}"
              type="audio/mpeg"
            />
          </audio>
          <button
            class="audioButton btn btn-primary"
            audio_id="GL{{word.id}}"
            type="button"
          >
            <i class="bi bi-megaphone"></i>
          </button>
          {%else%}
          <i class="bi bi-x-square-fill"></i>
          {%endif%}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--Pagination here-->
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <!--Previous button here-->
    <li class="page-item {% if not words.has_prev %} disabled {% endif %}">
      <a class="page-link" href="./bookmark?page={{words.prev_num}}"
        >Previous</a
      >
    </li>
    <!--Generate page number here-->
    {%for page in words.iter_pages()%}
    <li class="page-item {%if page == words.page%}active{%endif%}">
      {%if page==None%}
      <a class="page-link">...</a>
      {%else%}
      <a class="page-link" href="./bookmark?page={{page}}"
        >{{page}}<span class="sr-only">(current)</span></a
      >
      {%endif%}
    </li>
    {%endfor%}
    <!--Next button here-->
    <li class="page-item {% if not words.has_next %} disabled {% endif %}">
      <a class="page-link" href="./bookmark?page={{words.next_num}}">Next</a>
    </li>
  </ul>
</nav>
{%endblock%}
