{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block content %}
    <h1>Register Form</h1>
    <body class="text-center">
        <div class="container">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal"> Create Your Account Here</h1>
                <br>
                <label for="name">{{form.username.label()}}</label>
                {{form.username(class="form-control name", placeholder='Input Username')}}

                <label for="e">{{form.email_address.label()}}</label>
                {{form.email_address(class="form-control e", placeholder='Input Email')}}

                <label for="pass1">{{form.password1.label()}}</label>
                {{form.password1(class="form-control pass1", placeholder='Input Pass')}}

                <label for="pass2">Confirm password</label>
                {{form.password2(class="form-control pass2", placeholder='Input Pass')}}
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
                <br>
                <div class="checkbox mb-3">
                    <h6>Already had an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{url_for('login_page')}}">Login</a>
                </div>
            </form>
        </div>
    </body>
{% endblock%}