{% extends 'base.html' %}

{%block title%}
Dictionary Page
{%endblock %}

{% block content %}
    <div class="row" style="margin:20px;">
        <h2 style="text-align:center;"> Result List</h2>
        <table class="table table-hover table-dark" style="text-align:center;">
            <thead>
                <tr>
                     <!--Your Columns HERE -->
                    <th scope="col" style="width: 100px;">No.</th>
                    <th scope="col" style="width: 1200px;">Bahnaric</th>
                    <th scope="col">Binh Dinh</th>
                    <th scope="col">Kon Tum</th>
                    <th scope="col">Gia Lai</th>
                </tr>
            </thead>
            <tbody>
                 <!--Your rows inside the table HERE: -->
                {% for word in words %}
                    <tr>
                        <td>{{word.id}}</td>
                        <td>{{word.name}}</td>
                        <td>
                          {% if word.BinhDinh == "Y"%}
                            <button class="btn btn-primary"><i class="bi bi-megaphone"></i></button>
                          {%else%}
                            <i class="bi bi-x-square-fill"></i>
                          {%endif%}
                        </td>
                        <td>
                          {% if word.KonTum == "Y"%}
                            <button class="btn btn-primary"><i class="bi bi-megaphone"></i></button>
                          {%else%}
                            <i class="bi bi-x-square-fill"></i>
                          {%endif%}
                        </td>
                        <td>
                          {% if word.GiaLai == "Y"%}
                            <button class="btn btn-primary"><i class="bi bi-megaphone"></i></button>
                          {%else%}
                            <i class="bi bi-x-square-fill"></i>
                          {%endif%}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>

{%endblock%}